spring:
  application:
    name: store
  main:
    banner-mode: off
  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: myuser
    password: mypassword
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  mustache:
    check-template-location: false

server:
  port: 30000

logging:
  level:
    com.josko.store: DEBUG
    
springdoc:
  swagger-ui:
    url: openapi.yaml

rates:
  hnb:
    url: https://api.hnb.hr/tecajn-eur/v3?valuta=USD
  cacheClear:
    cron: "0 0 0 * * ?"
